<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="dvbp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="dvbp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="dvbp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="dvbp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Diana Vlasova Birthday Party</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
  <link rel="stylesheet" href="../style/css/main.css">
  <link rel="stylesheet" href="../style/app.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>
<body>
  <h1>Body</h1>
  <header class="navigation">
    <h1>Header</h1>
    <nav>
      <h2>Navigation</h2>
      <a href="#/">Home</a>
      <a href="#where">Where?</a>
      <a href="#about">About</a>
      <div class="controls" ng-controller="AudioCtrl">
        <img src="../style/buttons/play-button-sq.png" class="img-circle" ng-show="paused" ng-click="play()"/>
        <img src="../style/buttons/pause-button-sq.png" class="img-circle" ng-hide="paused" ng-click="pause()"/>
        <img src="../style/buttons/next-button-sq.png" class="img-circle" ng-click="next()"/>
      </div>
    </nav>
  </header>
  <audio autoplay id="music">
  </audio>
  <div ng-view ng-cloak>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-sanitize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="app.js"></script>
  <script src="main-page/main-page-controllers.js"></script>
  <script src="main-page/main-page-directives.js"></script>
  <script src="where-page/where-page-controllers.js"></script>
  <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-google-maps/2.1.5/angular-google-maps.min.js"></script>
</body>
</html>
